[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "factReg"]
	path = factReg
	url = https://github.com/cran/factReg
[submodule "LMMsolver"]
	path = LMMsolver
	url = https://github.com/cran/LMMsolver
[submodule "statgenMPP"]
	path = statgenMPP
	url = https://github.com/cran/statgenMPP
[submodule "statgenQTLxT"]
	path = statgenQTLxT
	url = https://github.com/cran/statgenQTLxT
